# Gradle files
.gradle/
build/
**/build/
.kotlin/

# IntelliJ IDEA files
.idea/
*.iml
*.iws
*.ipr
out/

# Android files
local.properties
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aar

# Kotlin files
kotlin-js-store/

# iOS files
*.swp
*.lock
.DS_Store

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Whisper specific
/sample/build/
/whisper/build/
/whisper-core/build/
/whisper-dsp/build/
/whisper-audio/build/

# Native prebuilts
whisper-dsp/prebuilt/android/lib/*
!whisper-dsp/prebuilt/android/lib/.gitkeep
whisper-dsp/prebuilt/ios/lib/*
!whisper-dsp/prebuilt/ios/lib/.gitkeep
whisper-dsp/prebuilt/desktop/lib/*
!whisper-dsp/prebuilt/desktop/lib/.gitkeep
whisper-dsp/prebuilt/android/include/*
!whisper-dsp/prebuilt/android/include/.gitkeep
whisper-dsp/prebuilt/ios/include/*
!whisper-dsp/prebuilt/ios/include/.gitkeep
whisper-dsp/prebuilt/desktop/include/*
!whisper-dsp/prebuilt/desktop/include/.gitkeep
